/* Корзина */

.overlay {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.311);
    z-index: 1;
    /* наложение */
}

.cart {
    /* display: grid; */
    grid-template-rows: 0.5fr 6fr 1fr;
    position: absolute;
    width: 700px;
    right: 0;
    height: 100%;
    background-color: white;
    box-shadow: -10px 0px 20px #00000080;
    padding: 0px 50px 0px 50px;
}

.title-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-block h2 {
    font-size: 32px;
}

.close-btn {
    width: fit-content;
    justify-self: end;
    align-self: center;
    padding: 10px 12px 10px 12px;
    background-color: white;
    color: #9D9D9D;
    border: 1px solid gray;
    border-radius: 12px;
    cursor: pointer;
}

.cart-list {
    overflow: auto;
}



.total-price {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.total-price button {
    grid-row: 2/3;
    grid-column: 1/3;
    height: fit-content;
    background-color: #001AFF;
    border-radius: 15px;
    color: white;
    font-size: 22px;
    padding: 20px;
    align-self: center;
    cursor: pointer;
}

.total-price button:active {
    background-color: white;
    color: #001AFF;
    border: 2px solid #001AFF;
}

.total-price p {
    font-size: 20px;
    font-weight: bold;
}

.total-price-summ {
    justify-self: end;
}