.text-section {
    max-width: 1200px;
    margin: 0 auto;   /* выравнивание по центру */
}

.text-section h2 {
    text-align: center;
}

.text-section p {
    margin-left: 50px;
    margin-right: 50px;
}